conda==4.9.1
cudatoolkit==10.0.130
cudnn==7.6.5
fastai==1.0.61
flask==1.1.1
imageio==2.5.0
keras==2.2.4
matplotlib==3.1.0
numpy==1.16.4
pandas==0.24.2
pillow==6.1.0
pip==19.1.1
portaudio==19.6.0
pyaudio==0.2.11
python==3.7.3
pytorch==1.0.1
scikit-image==0.15.0
sqlite==3.29.0
tensorflow-gpu==1.14.0
torchvision==0.2.2
